@model VPPShop.Models.CartIconViewModel
@{
    string iconColor = "text-dark";
    string badgeColor = "text-dark border border-dark";
    string spacing = "ml-2";

    if ((string)ViewBag.Size == "large")
    {
        iconColor = "text-primary";
        badgeColor = "text-secondary border border-secondary";
        spacing = "ml-3";
    }
}

<a asp-controller="Cart" asp-action="Index" class="btn px-0 @spacing">
    <i class="fas fa-shopping-cart @iconColor"></i>
    <span class="badge cart-count @badgeColor rounded-circle" style="padding-bottom: 2px;">
        @Model.Quantity
    </span>
</a>